*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
    /* for scroll */
}

/* Helpers */

h1,
h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.h1-padding {
    padding: 15px 0;
}

.footer__item_style {
    list-style: none;
}

#section_buttons {
    margin: 0 auto;
}

#section_table {
    margin: 0 auto;
}

#section_infinity_slider {
    margin: 0 auto;
}

#section_modern_slider {
    margin: 0 auto;
}

#section_stud_table {
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 3;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.header__menu_margin {
    margin-right: 5px;
}

.fa-plane {
    font-size: 60px;
    color: #004aff82;
}

.nav__link_margin {
    margin-right: 5px;
}

/* Dropdown-menu */

.dropdown-menu_padding {
    padding-top: 100px;
}

.dropdown-content {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    border-right: 1px solid #d6d5d5;
    text-align: center;
    padding-top: 50px;
    transition: 0.37s cubic-bezier(0, 0, 0.58, 1);
    z-index: 2;
}

.show {
    left: 0;
}

.block__elem1,
.block__elem2,
.block__elem3,
.block__elem4,
.block__elem5 {
    margin-top: 15px;
}

.sectionTableh1__margin-bottom {
    margin-bottom: 100px;
}

/* Main */

.main-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 250px;
    margin: 0 10px;
}

button.hamburger.hamburger--slider {
    height: 50px;
    outline: none;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    z-index: 3;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.footer__menu_flex {
    display: flex;
}

.footer__item_margin {
    margin-right: 10px;
}

/* Media queries */

@media (max-width: 960px) {
    button.hamburger.hamburger--slider {
        position: fixed;
        top: 0;
        left: 0;
        margin: 10px;
        font-size: 30px;
        z-index: 10;
        outline: none;
        height: 50px;
    }

    .main-content {
        padding-left: 0;
    }

    .main-content__arcticle_margin {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .header__menu_d-none {
        display: none;
    }

    .nav_small-size {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 16px;
    }

    .block .link {
        font-size: 30px;
    }

    .header {
        justify-content: flex-end;
    }

    .footer {
        font-size: 16px;
    }

    .my_btn {
        margin-right: 0px;
    }

    .my_btn_red {
        margin-right: 0px;
    }

    .sectionTableh1__margin-bottom {
        margin-bottom: 0px;
    }

    .sectionButtons_flex {
        display: flex;
        flex-direction: column;
    }
}

#clock {
    margin-right: 10px;
}

#date {
    margin-right: 10px;
}

.table-form {
    width: 280px;
}

.footer__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.header__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.table-form__button {
    width: 100px;
    height: 40px;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    border-radius: 50px;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.table-form__form__wrap {
    padding: 10px 10px;
}

.table-form__form__input {
    height: 25px;
    outline: none;
    width: 100px;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.sectionButtons_flex {
    display: flex;
}

.sectionButtons_margin {
    margin-top: 150px;
}

.my_btn {
    width: 100px;
    height: 40px;
    background: grey;
    border-radius: 50px;
    color: aliceblue;
    outline: none;
    margin-right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}

.my_btn_red {
    width: 100px;
    height: 40px;
    background: red;
    border-radius: 50px;
    color: aliceblue;
    outline: none;
    margin-right: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    transition-duration: 0.5s;
}

.table-form__form__flex {
    display: flex;
}

.sectionTabletable {
    margin: 0 auto;
    border-collapse: collapse;
}

.sectionTabletable tr td {
    border: 1px solid black;
    padding: 10px;
}

.main-content__arcticle__margin {
    margin-top: 25px;
}

.fieldset_Warning {
    border: 2px solid blue;
    color: blue;
    font-size: 16px;
}

.maxValue_Warning {
    border: 2px solid blue;
    color: blue;
    font-size: 16px;
}

input[placeholder] {
    text-align: center;
    font-size: 14px;
}

.highlight {
    background: red;
}

.sectionTabletable tr td {
    width: 30px;
    height: 30px;
}

td:hover {
    position: relative;
}

td[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    position: absolute;
    left: 50;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #222;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

/* slider */

.slider-box {
    display: block;
    width: 600px;
    height: 310px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.slide {
    position: absolute;
    top: 0;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 132px;
}

.slide-btn {
    height: 30px;
    width: 30px;
    background-image: url(./img/left-arrow.png);
    background-position: 0 0;
    background-size: cover;
    background-color: transparent;
    outline: none;
    border: transparent;
}

.slide-btn:nth-child(2) {
    transform: rotate(180deg);
    background-color: transparent;
    outline: none;
    border: transparent;
}

/* ============= */

.sectionStudTableform {
    width: 415px;
    margin: 0 auto;
}

.sectionStudTablefieldset {
    padding: 10px;
    margin: 0;
}

.sectionStudTablefieldset:first-child label {
    width: 100px;
    display: inline-block;
    text-align: start;
}

.field {
    margin: 15px 0;
}

.input-wrap {
    display: inline-block;
    position: relative;
}

.sectionStudTablefieldset:first-child input {
    width: 160px;
    height: 25px;
    padding-left: 5px;
    background-color: #eae8e8;
    border: 2px solid transparent;
    outline: none;
    text-align: start;
}

.sectionStudTablefieldset:first-child button {
    margin-right: 40px;
}

.sectionStudTablebtn {
    font: 14px/1.25 'Roboto', sans-serif;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    color: black;
    cursor: pointer;
    padding: 3px 8px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    width: 100px;
}

.sectionStudTablebtn__ {
    font: 14px/1.25 'Roboto', sans-serif;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    color: black;
    cursor: pointer;
    padding: 3px 8px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    width: 100px;
}

.sectionStudTableflex {
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
}

.sectionStudTablefieldset__flex {
    display: flex;
}

.sectionStudTableflex button {
    margin-top: 20px;
    outline: none;
}

.sectionStudTablefieldset:first-child label[for='upload-file'] {
    text-align: center;
}

.upload {
    font: 14px/1.25 'Roboto', sans-serif;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 6px;
    margin-top: 20px;
}

input[type='file'] {
    display: none;
}

.sectionStudTabletable {
    border: 1px solid black;
    border-collapse: collapse;
}

.sectionStudTabletable th,
td {
    border: 1px solid black;
    text-align: center;
    width: 105px;
    height: 20px;
}

.available_save_btn {
    font: 14px/1.25 'Roboto', sans-serif;
    background: #71ce71;
    color: black;
    cursor: pointer;
    padding: 3px 8px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    width: 100px;
}

.sectionInfSliderol {
    display: flex;
    justify-content: center;
}

.sectionInfSliderol__background {
    margin-right: 3%;
    margin-left: 3%;
    list-style: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.sectionInfSliderol__background {
    background-color: black;
}

.active {
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.name-slider {
    position: absolute;
    width: 120px;
    height: 40px;
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    top: 138px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 16px;
}